#map {
  width: 100%;
  height: auto;
  background-image: url("../assets/bg-pattern.png");
  display: flex;
  justify-content: center;
  height: 652.4px;
}

@-webkit-keyframes floatLeftIn {
  from {
    left: -100px;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  to {
    left: 0px;
    -webkit-animation-timing-function: ease-in;
    opacity: 1;
  }
}

@-webkit-keyframes floatRightIn {
  from {
    right: -100px;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
  }

  to {
    right: 0px;
    -webkit-animation-timing-function: ease-in;
    opacity: 1;
  }
}

.map--container {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.map--image {
  height: auto;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation-direction: alternate;
}
.map--image img {
  width: 80%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.map--content--wrapper {
  position: relative;
  width: 60%;
  -webkit-animation-direction: alternate;
}
.map--content--top--title {
  font-size: 36px;
  color: rgb(219, 68, 55);
}
.map--content--top--text {
  font-size: 20px;
}
.map--content--bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bot--column {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.map--content--bot--compo p {
  font-size: 15px;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #map{
        height: auto;
    }
  .map--container {
    flex-direction: column-reverse;
  }
  .map--content--wrapper {
    width: 100%;
  }
  .bot--column {
    width: 50%;
  }
  .bot--column:last-child {
    margin-left: 10px;
  }
  .map--image {
    margin-left: 100px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .map--content--bot {
    flex-direction: column;
  }
  .bot--column {
    width: 100%;
  }
  .bot--column:last-child {
    margin-left: 0px;
  }
  .map--image {
    margin-left: 0;
    padding-top: 30px;
  }
  .map--image img {
    width: 100%;
  }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 410.98px) {

}

@media (max-width: 321px) {
}
